        /* HERO section */
        .hero {
            margin-top: 130px;
            text-align: center;
            color: white;
            text-shadow: 0 0 8px black;
            padding-bottom: 80px;
        }

        .hero h1 {
            font-size: 46px;
            margin: 0;
        }

        .hero p {
            font-size: 20px;
            margin-top: 10px;
        }

        /* BELOW SECTIONS */
        .section {
            background: rgba(255,255,255,0.9);
            padding: 50px 30px;
            text-align: center;
        }

        .section h2 {
            font-size: 30px;
            margin-bottom: 20px;
            color: #003057;
        }

        .section p {
            font-size: 17px;
            width: 70%;
            margin: auto;
            color: #333;
        }

        /* SERVICES */
        .services {
            display: flex;
            justify-content: center;
            gap: 35px;
            margin-top: 40px;
            flex-wrap: wrap;
        }

        .service-box {
            width: 250px;
            padding: 25px;
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px #bbb;
            text-align: center;
        }

        .service-box i {
            font-size: 40px;
            color: #007bff;
            margin-bottom: 15px;
        }