{% extends 'layout/base.html' %}
{% block content %}

<h2>Quản Lý Thuốc</h2>

<form action="/medicine/add" method="POST">
    <select name="name" required>
        <option value="">Chọn thuốc</option>
        {% for t in available_medicines %}
            <option value="{{ t.TenThuoc }}">{{ t.TenThuoc }}</option>
        {% endfor %}
    </select>

    <input type="text" name="dosage" placeholder="Liều dùng" required>
    <input type="number" name="days" placeholder="Số ngày" required>
    <input type="text" name="unit" placeholder="Đơn vị" required>
    <button type="submit">Thêm</button>
</form>

<table>
    <tr>
        <th>#</th>
        <th>Tên thuốc</th>
        <th>Liều dùng</th>
        <th>Số ngày</th>
        <th>Đơn vị</th>
        <th></th>
    </tr>

    {% for m in medicines %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.dosage }}</td>
        <td>{{ m.days }}</td>
        <td>{{ m.unit }}</td>
        <td>
            <form action="/medicine/delete/{{ m.id }}" method="POST">
                <button>Xóa</button>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6">Chưa có thuốc</td>
    </tr>
    {% endfor %}
</table>

<form action="/medicine/save" method="POST">
    <button type="submit">💾 Lưu toa thuốc</button>
</form>

{% endblock %}